*{
    margin: 0px;
    padding: 0px;

}
body{
    font-family: sans-serif !important;
    height: 100vh;
    overflow: hidden;
}
/*/////////////////////////// Nav Bar ///////////////////////////////////////////*/
nav{
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000428,#004e92 );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000428,#004e92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:white;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.favicon{
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;

}

.favicon img{
    height: 80%;
    width: 80%;
    border-radius: 5px;
}

nav ul li{
    float: left;
    list-style: none; 
    margin: 0px;
    padding:10px;
    display:block;
    width:140px;
    text-decoration: none;
    font-size:20px;
    
}
nav ul li a:hover{
    color: #1fff00;
}
nav ul li a{
    display: inline-block;
    color:white;
    padding:4px 5px;
    text-decoration: none;
    position: relative;
}

nav ul ul{position: absolute; top: 100%; background-color: #9fec72; display: none;}

/*/////////////////////////////////////// NAVBAR END //////////////////////////////////*/

.background-img{
    position: absolute;
    z-index: -1;
    width: 100vw;
    opacity: 50%;
}
.section-box{
    display: flex;
}
.left-div, .right-div{
    display: flex;
    justify-content: center;
    width: 50%;
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 10px;
}
.right-div{
    margin-right: 20px;
}
.left-div{
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: center;
}
.left-div label{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #118900;
    margin-bottom: 10px;
}
p{
    text-align: center;
    width: 80%;
    display: block;
    margin-bottom: 20px;
}
.left-div input{
    height: 20px;
}
.input-box{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.right-div legend{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #118900;
}
.right-div fieldset{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.right-div p{
    margin-bottom: 10px;
}
.right-div label, .right-div input, .right-div select{
    display: flex;
    width: 40%;
    text-align: center;
    align-items: center;
    margin: 10px;

}
.right-div label{
    margin: 10px 20px !important;
}
.right-div input{
    height: 20px !important;
}
.right-div select{
    height: 25px;
}
.button-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0px 20px 0px;
}
.button-div button{
    width: 20%;
    height: 25px;
}

@media screen and (max-width: 1400px){
    body{
        overflow-x: hidden;
        overflow-y: unset;
    }
    .background-img{
        height: 120vh;
    }
}